section{
	width: 1000px;
	height: 600px;
	border: 1px solid gray;
}

.box{
	width: 200px;
	height: 200px;
	float: right;
}

.yellow{
	background: yellow;
}

.blue{
	background: blue;
}

.red{
	background: red;
}