section{
	width: 800px;
	border: 1px solid gray;
	display: inline-block;
}

.box{
	width: 200px;
	height: 200px;
	float: right;
}

.yellow{
	background: yellow;
}

.blue{
	background: blue;
}

.red{
	background: red;
}